<section class="hero">
            <h1>{{ h1 }}</h1>
            <p>Мы создали удивительные вещи для вас</p>
        </section>
        
        <section class="content-grid">
            <article class="card">
                <h2>Заголовок 1</h2>
                <p>Ze waaaaaarduuuuu!</p>
            </article>
            
            <article class="card">
                <h2>Заголовок 2</h2>
                <p>ora ora ora ora ora ora ora ora ora or aora oar </p>
            </article>
            
            <article class="card">
                <h2>Заголовок 3</h2>
                <p>muda muda mudam uda muda mud amuda muda muda muda muda muda muda muda </p>
            </article>

            <article class="card">
                <h2>Заголовок 4</h2>
                <p>rero reor rero rero rero rero rero rero rero reror reor rero reror reor</p>
            </article>
        </section>